@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap");

main h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
}

.project-container {
  width: 300px;
  margin: auto;
}

.section {
  width: 100%;
  line-height: 1.5;
  background: var(--header-color);
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-top: 1rem;
  color: white;
}

.container {
  background-color: greenyellow;
}

.section img {
  width: 100%;
  padding: 1rem;
}

.section a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  border: 1px solid black;
  background-color: blue;
}

.section a:hover {
  text-decoration: none;
  font-size: 1.5rem;
  color: purple;
}

/* Desktop responsive */

@media only screen and (min-width: 768px) {
  main {
    margin-top: 3rem;
  }

  /* .project-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 2rem;
  } */

  .project-container {
    display: grid;
    justify-content: center;
    align-items: stretch;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
  }

  .section img {
    width: 100%;
    height: 300px;
    padding: 1rem;
  }

  .section {
    width: 450px;
    line-height: 1.5;
    background: var(--header-color);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-top: 1rem;
    color: white;
    border-radius: 5px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  main {
    margin-top: 3rem;
    width: 100%;
  }

  main .border-top {
    width: 100%;
  }

  main h1 {
    text-align: center;
  }



  .project-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 100%;
    
    
  }

  .section img {
    width: 100%;
    height: 300px;
    padding: 1rem;
  }

  .section {
    
    width: 100%;
    line-height: 1.5;
    background: var(--header-color);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-top: 1rem;
    color: white;
    border-radius: 5px;
  }
}
