
.about-container{
    width: 100%;
    text-align: center;
    line-height: 1.5;
    font-weight: 600;
}

.about-container p {
    width: 300px;
    margin: auto;
    font-size: 18px;
}



.about-container h1,h2{
    text-transform: uppercase;

}

.image-pict img{
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
}

.border-top{
    border-top: 1px solid black;
    padding: 0.3rem;
    width: 75%;
    margin: auto;
    border-width: 0.3rem;
}


.skills ul li {
    width: 100px;
    list-style-type: square;
    margin: auto;
}

.skills li{
    text-align: start;
}


  /* Desktop responsive */

  @media only screen and (min-width: 768px){
      

    .about-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        margin:auto;

    
    }
    

    .skills ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: start;
        font-weight: 600;
    }

    .skills ul li {
        
        width: 100px;
        list-style-type: square;
        color: blue;
        font-size: 3rem;
        font-weight: bolder;



    }
    
    .skills li{
        text-align: start;
        
        
    }
    
    

    .image-pict img{
        width: 500px;
        border: 1px solid black;
        border-radius: 5px;
    }

    .skills h1{
        font-size: 2rem;
    }


}