:root{
  --primary-color: linear-gradient(90deg, rgb(49, 8, 29) 0%, rgba(9,9,121,1) 35%, rgb(13, 57, 66) 100% );
  --header-color: linear-gradient(90deg, rgba(2,0,.6,1) 0%, rgb(82, 24, 62) 35%, rgb(13, 57, 66) 100% );
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');


*{
  box-sizing:border-box;
  margin: 0;
  padding:0;
}


button{
  cursor:pointer;
}